<td>First Name <br> <p class="text-primary"> <%= @patient.first_name %> </p></td>
<td>Middle Name <br> <p class="text-primary"> <%= @patient.middle_name %> </p></td>
<td>Last Name <br> <p class="text-primary"> <%= @patient.last_name %> </p></td>
<td>Medical Record (MR) <br> <p class="text-primary"> <%= @patient.mr %> </p></td>
